In [1]:
!apt-get -y install mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server-8.0 mysql-server-core-8.0
Suggested packages:
  libdata-dump-perl libipc-sharedcache-perl libbusiness-isbn-perl libwww-perl mailx tinyca
The following NEW packages will be installed:
  libcgi-fast-perl libcgi-pm-perl libclone-perl libencode-locale-perl libfcgi-bin libfcgi-perl
  libfcgi0ldbl libhtml-parser-perl libhtml-tagset-perl libhtml-template-perl libhttp-date-perl
  libhttp-message-perl libio-html-perl liblwp-mediatypes-perl libmecab2 libprotobuf-lite23
  liburi-perl mecab-ipadic mecab-ipadic-utf8 mecab-utils mysql-client-8.0 mysql-client-core-8.0
  mysql-server mysql-server-8.0 mysql-server-core-8.0
0 upgraded, 25 newly installed, 0 to remove and 49 not upgraded.
Need to get 29.6 MB of archives.
After this operation, 243 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-core-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [2,762 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-client-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [22.7 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libmecab2 amd64 0.996-14build9 [199 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 libprotobuf-lite23 amd64 3.12.4-1ubuntu7.22.04.1 [209 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-core-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [17.6 MB]
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server-8.0 amd64 8.0.39-0ubuntu0.22.04.1 [1,437 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-tagset-perl all 3.20-4 [12.5 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 liburi-perl all 5.10-1 [78.8 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-parser-perl amd64 3.76-1build2 [88.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-pm-perl all 4.54-1 [188 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi0ldbl amd64 2.4.2-2build2 [28.0 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-perl amd64 0.82+ds-1build1 [22.8 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcgi-fast-perl all 1:2.15-1 [10.5 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libclone-perl amd64 0.45-1build3 [11.0 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libencode-locale-perl all 1.05-1.1 [11.8 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfcgi-bin amd64 2.4.2-2build2 [11.2 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhtml-template-perl all 2.97-1.1 [59.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-date-perl all 6.05-1 [9,920 B]
Get:19 http://archive.ubuntu.com/ubuntu jammy/main amd64 libio-html-perl all 1.004-2 [15.4 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy/main amd64 liblwp-mediatypes-perl all 6.04-1 [19.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy/main amd64 libhttp-message-perl all 6.36-1 [76.8 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-utils amd64 0.996-14build9 [4,850 B]
Get:23 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic all 2.7.0-20070801+main-3 [6,718 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy/main amd64 mecab-ipadic-utf8 all 2.7.0-20070801+main-3 [4,384 B]
Get:25 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 mysql-server all 8.0.39-0ubuntu0.22.04.1 [9,468 B]
Fetched 29.6 MB in 5s (6,216 kB/s)
Preconfiguring packages ...
Selecting previously unselected package mysql-client-core-8.0.
(Reading database ... 123597 files and directories currently installed.)
Preparing to unpack .../00-mysql-client-core-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-client-8.0.
Preparing to unpack .../01-mysql-client-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-client-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package libmecab2:amd64.
Preparing to unpack .../02-libmecab2_0.996-14build9_amd64.deb ...
Unpacking libmecab2:amd64 (0.996-14build9) ...
Selecting previously unselected package libprotobuf-lite23:amd64.
Preparing to unpack .../03-libprotobuf-lite23_3.12.4-1ubuntu7.22.04.1_amd64.deb ...
Unpacking libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Selecting previously unselected package mysql-server-core-8.0.
Preparing to unpack .../04-mysql-server-core-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package mysql-server-8.0.
Preparing to unpack .../05-mysql-server-8.0_8.0.39-0ubuntu0.22.04.1_amd64.deb ...
Unpacking mysql-server-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Selecting previously unselected package libhtml-tagset-perl.
Preparing to unpack .../06-libhtml-tagset-perl_3.20-4_all.deb ...
Unpacking libhtml-tagset-perl (3.20-4) ...
Selecting previously unselected package liburi-perl.
Preparing to unpack .../07-liburi-perl_5.10-1_all.deb ...
Unpacking liburi-perl (5.10-1) ...
Selecting previously unselected package libhtml-parser-perl:amd64.
Preparing to unpack .../08-libhtml-parser-perl_3.76-1build2_amd64.deb ...
Unpacking libhtml-parser-perl:amd64 (3.76-1build2) ...
Selecting previously unselected package libcgi-pm-perl.
Preparing to unpack .../09-libcgi-pm-perl_4.54-1_all.deb ...
Unpacking libcgi-pm-perl (4.54-1) ...
Selecting previously unselected package libfcgi0ldbl:amd64.
Preparing to unpack .../10-libfcgi0ldbl_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Selecting previously unselected package libfcgi-perl:amd64.
Preparing to unpack .../11-libfcgi-perl_0.82+ds-1build1_amd64.deb ...
Unpacking libfcgi-perl:amd64 (0.82+ds-1build1) ...
Selecting previously unselected package libcgi-fast-perl.
Preparing to unpack .../12-libcgi-fast-perl_1%3a2.15-1_all.deb ...
Unpacking libcgi-fast-perl (1:2.15-1) ...
Selecting previously unselected package libclone-perl.
Preparing to unpack .../13-libclone-perl_0.45-1build3_amd64.deb ...
Unpacking libclone-perl (0.45-1build3) ...
Selecting previously unselected package libencode-locale-perl.
Preparing to unpack .../14-libencode-locale-perl_1.05-1.1_all.deb ...
Unpacking libencode-locale-perl (1.05-1.1) ...
Selecting previously unselected package libfcgi-bin.
Preparing to unpack .../15-libfcgi-bin_2.4.2-2build2_amd64.deb ...
Unpacking libfcgi-bin (2.4.2-2build2) ...
Selecting previously unselected package libhtml-template-perl.
Preparing to unpack .../16-libhtml-template-perl_2.97-1.1_all.deb ...
Unpacking libhtml-template-perl (2.97-1.1) ...
Selecting previously unselected package libhttp-date-perl.
Preparing to unpack .../17-libhttp-date-perl_6.05-1_all.deb ...
Unpacking libhttp-date-perl (6.05-1) ...
Selecting previously unselected package libio-html-perl.
Preparing to unpack .../18-libio-html-perl_1.004-2_all.deb ...
Unpacking libio-html-perl (1.004-2) ...
Selecting previously unselected package liblwp-mediatypes-perl.
Preparing to unpack .../19-liblwp-mediatypes-perl_6.04-1_all.deb ...
Unpacking liblwp-mediatypes-perl (6.04-1) ...
Selecting previously unselected package libhttp-message-perl.
Preparing to unpack .../20-libhttp-message-perl_6.36-1_all.deb ...
Unpacking libhttp-message-perl (6.36-1) ...
Selecting previously unselected package mecab-utils.
Preparing to unpack .../21-mecab-utils_0.996-14build9_amd64.deb ...
Unpacking mecab-utils (0.996-14build9) ...
Selecting previously unselected package mecab-ipadic.
Preparing to unpack .../22-mecab-ipadic_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic (2.7.0-20070801+main-3) ...
Selecting previously unselected package mecab-ipadic-utf8.
Preparing to unpack .../23-mecab-ipadic-utf8_2.7.0-20070801+main-3_all.deb ...
Unpacking mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Selecting previously unselected package mysql-server.
Preparing to unpack .../24-mysql-server_8.0.39-0ubuntu0.22.04.1_all.deb ...
Unpacking mysql-server (8.0.39-0ubuntu0.22.04.1) ...
Setting up libhttp-date-perl (6.05-1) ...
Setting up libmecab2:amd64 (0.996-14build9) ...
Setting up mysql-client-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up libfcgi0ldbl:amd64 (2.4.2-2build2) ...
Setting up libclone-perl (0.45-1build3) ...
Setting up libhtml-tagset-perl (3.20-4) ...
Setting up liblwp-mediatypes-perl (6.04-1) ...
Setting up libfcgi-bin (2.4.2-2build2) ...
Setting up libencode-locale-perl (1.05-1.1) ...
Setting up libprotobuf-lite23:amd64 (3.12.4-1ubuntu7.22.04.1) ...
Setting up mecab-utils (0.996-14build9) ...
Setting up libio-html-perl (1.004-2) ...
Setting up mysql-server-core-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up mysql-client-8.0 (8.0.39-0ubuntu0.22.04.1) ...
Setting up libfcgi-perl:amd64 (0.82+ds-1build1) ...
Setting up liburi-perl (5.10-1) ...
Setting up libhttp-message-perl (6.36-1) ...
Setting up mysql-server-8.0 (8.0.39-0ubuntu0.22.04.1) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of stop.
update-alternatives: using /etc/mysql/mysql.cnf to provide /etc/mysql/my.cnf (my.cnf) in auto mode
Renaming removed key_buffer and myisam-recover options (if present)
mysqld will log errors to /var/log/mysql/error.log
mysqld is running as pid 1154
Created symlink /etc/systemd/system/multi-user.target.wants/mysql.service → /lib/systemd/system/mysql.service.
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up mecab-ipadic (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up mecab-ipadic-utf8 (2.7.0-20070801+main-3) ...
Compiling IPA dictionary for Mecab.  This takes long time...
reading /usr/share/mecab/dic/ipadic/unk.def ... 40
emitting double-array: 100% |###########################################|
/usr/share/mecab/dic/ipadic/model.def is not found. skipped.
reading /usr/share/mecab/dic/ipadic/Noun.adjv.csv ... 3328
reading /usr/share/mecab/dic/ipadic/Postp-col.csv ... 91
reading /usr/share/mecab/dic/ipadic/Adnominal.csv ... 135
reading /usr/share/mecab/dic/ipadic/Noun.verbal.csv ... 12146
reading /usr/share/mecab/dic/ipadic/Symbol.csv ... 208
reading /usr/share/mecab/dic/ipadic/Verb.csv ... 130750
reading /usr/share/mecab/dic/ipadic/Noun.number.csv ... 42
reading /usr/share/mecab/dic/ipadic/Noun.name.csv ... 34202
reading /usr/share/mecab/dic/ipadic/Noun.place.csv ... 72999
reading /usr/share/mecab/dic/ipadic/Others.csv ... 2
reading /usr/share/mecab/dic/ipadic/Prefix.csv ... 221
reading /usr/share/mecab/dic/ipadic/Noun.csv ... 60477
reading /usr/share/mecab/dic/ipadic/Noun.proper.csv ... 27328
reading /usr/share/mecab/dic/ipadic/Noun.nai.csv ... 42
reading /usr/share/mecab/dic/ipadic/Adverb.csv ... 3032
reading /usr/share/mecab/dic/ipadic/Postp.csv ... 146
reading /usr/share/mecab/dic/ipadic/Auxil.csv ... 199
reading /usr/share/mecab/dic/ipadic/Conjunction.csv ... 171
reading /usr/share/mecab/dic/ipadic/Noun.demonst.csv ... 120
reading /usr/share/mecab/dic/ipadic/Adj.csv ... 27210
reading /usr/share/mecab/dic/ipadic/Noun.adverbal.csv ... 795
reading /usr/share/mecab/dic/ipadic/Noun.org.csv ... 16668
reading /usr/share/mecab/dic/ipadic/Suffix.csv ... 1393
reading /usr/share/mecab/dic/ipadic/Interjection.csv ... 252
reading /usr/share/mecab/dic/ipadic/Filler.csv ... 19
reading /usr/share/mecab/dic/ipadic/Noun.others.csv ... 151
emitting double-array: 100% |###########################################|
reading /usr/share/mecab/dic/ipadic/matrix.def ... 1316x1316
emitting matrix      : 100% |###########################################|

done!
update-alternatives: using /var/lib/mecab/dic/ipadic-utf8 to provide /var/lib/mecab/dic/debian (mecab-dictionary) in auto mode
Setting up libhtml-parser-perl:amd64 (3.76-1build2) ...
Setting up mysql-server (8.0.39-0ubuntu0.22.04.1) ...
Setting up libcgi-pm-perl (4.54-1) ...
Setting up libhtml-template-perl (2.97-1.1) ...
Setting up libcgi-fast-perl (1:2.15-1) ...
Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libur_loader.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_level_zero.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libur_adapter_opencl.so.0 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

In [2]:
!service mysql start

 * Starting MySQL database server mysqld
su: warning: cannot change directory to /nonexistent: No such file or directory
   ...done.

In [3]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH 'mysql_native_password' BY 'root';FLUSH PRIVILEGES;"

In [4]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.3/19.3 MB 42.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0

In [5]:
#1.
import mysql.connector

# Establish a connection to the MySQL server
conn = mysql.connector.connect(
    host='localhost',        # Replace with your host
    user='root',    # Replace with your MySQL username
    password='root' # Replace with your MySQL password
)

cursor = conn.cursor()

# Create the database
cursor.execute("CREATE DATABASE IF NOT EXISTS college;")

# Use the college database
cursor.execute("USE college;")

# Create the student table
cursor.execute("""
CREATE TABLE IF NOT EXISTS student (
    roll INT PRIMARY KEY,
    name VARCHAR(50),
    class VARCHAR(10),
    marks DECIMAL(5, 2),
    age INT
);
""")

# Insert rows into the student table
cursor.execute("""
INSERT INTO student (roll, name, class, marks, age) VALUES
(1, 'Alice', '10th', 85.5, 15),
(2, 'Bob', '10th', 78.0, 16),
(3, 'Charlie', '11th', 92.0, 16),
(4, 'David', '12th', 88.5, 17),
(5, 'Eva', '12th', 91.0, 17);
""")

# Commit the changes
conn.commit()

# Delete the entry with roll number 4
cursor.execute("DELETE FROM student WHERE roll = 4;")

# Update the marks of roll number 3
cursor.execute("UPDATE student SET marks = 95.0 WHERE roll = 3;")

# Give additional grace marks of 0.5 to all students
cursor.execute("UPDATE student SET marks = marks + 0.5;")

# Truncate the table
cursor.execute("TRUNCATE TABLE student;")

# Insert the data again using multi-insert statement
cursor.execute("""
INSERT INTO student (roll, name, class, marks, age) VALUES
(1, 'Alice', '10th', 85.5, 15),
(2, 'Bob', '10th', 78.0, 16),
(3, 'Charlie', '11th', 92.0, 16),
(4, 'David', '12th', 88.5, 17),
(5, 'Eva', '12th', 91.0, 17);
""")

# Commit the changes
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

print("Database operations completed successfully.")

Database operations completed successfully.

In [6]:
#2.
import mysql.connector

# Establish a connection to the MySQL server
conn = mysql.connector.connect(
    host='localhost',        # Replace with your host
    user='root',    # Replace with your MySQL username
    password='root' # Replace with your MySQL password
)

cursor = conn.cursor()

# Create the database
cursor.execute("CREATE DATABASE IF NOT EXISTS college;")

# Use the college database
cursor.execute("USE college;")

# Alter table to add and drop constraints
cursor.execute("ALTER TABLE student ADD CONSTRAINT unique_name UNIQUE (name);")
cursor.execute("ALTER TABLE student ADD CONSTRAINT check_marks CHECK (marks BETWEEN 0 AND 120);")
cursor.execute("ALTER TABLE student DROP CONSTRAINT unique_name;")

# Aggregate functions
cursor.execute("SELECT SUM(marks) AS total_marks FROM student;")
total_marks = cursor.fetchone()[0]
print(f"Total Marks: {total_marks}")

cursor.execute("SELECT AVG(marks) AS average_marks FROM student;")
average_marks = cursor.fetchone()[0]
print(f"Average Marks: {average_marks}")

cursor.execute("SELECT COUNT(*) AS total_students FROM student;")
total_students = cursor.fetchone()[0]
print(f"Total Students: {total_students}")

cursor.execute("SELECT MAX(marks) AS highest_marks FROM student;")
highest_marks = cursor.fetchone()[0]
print(f"Highest Marks: {highest_marks}")

cursor.execute("SELECT MIN(marks) AS lowest_marks FROM student;")
lowest_marks = cursor.fetchone()[0]
print(f"Lowest Marks: {lowest_marks}")

# Group by and having
cursor.execute("""
SELECT class, AVG(marks) AS average_marks
FROM student
GROUP BY class;
""")
group_by_class = cursor.fetchall()
print("Average Marks by Class:")
for row in group_by_class:
    print(f"Class: {row[0]}, Average Marks: {row[1]}")

cursor.execute("""
SELECT class, AVG(marks) AS average_marks
FROM student
GROUP BY class
HAVING AVG(marks) > 80;
""")
having_clause = cursor.fetchall()
print("Classes with Average Marks > 80:")
for row in having_clause:
    print(f"Class: {row[0]}, Average Marks: {row[1]}")

# LIKE, DISTINCT, ORDER BY, BETWEEN...AND
cursor.execute("SELECT * FROM student WHERE name LIKE 'A%';")
like_clause = cursor.fetchall()
print("Students with names starting with 'A':")
for row in like_clause:
    print(row)

cursor.execute("SELECT DISTINCT class FROM student;")
distinct_classes = cursor.fetchall()
print("Distinct Classes:")
for row in distinct_classes:
    print(row[0])

cursor.execute("SELECT * FROM student ORDER BY marks DESC;")
order_by_marks = cursor.fetchall()
print("Students Ordered by Marks (Descending):")
for row in order_by_marks:
    print(row)

cursor.execute("SELECT * FROM student WHERE marks BETWEEN 80 AND 90;")
between_and_clause = cursor.fetchall()
print("Students with Marks Between 80 and 90:")
for row in between_and_clause:
    print(row)

# NULL comparison, IN/NOT IN
cursor.execute("SELECT * FROM student WHERE marks IS NULL;")
null_comparison = cursor.fetchall()
print("Students with NULL Marks:")
for row in null_comparison:
    print(row)

cursor.execute("SELECT * FROM student WHERE roll IN (1, 2, 3);")
in_clause = cursor.fetchall()
print("Students with Roll Numbers IN (1, 2, 3):")
for row in in_clause:
    print(row)

cursor.execute("SELECT * FROM student WHERE roll NOT IN (1, 2, 3);")
not_in_clause = cursor.fetchall()
print("Students with Roll Numbers NOT IN (1, 2, 3):")
for row in not_in_clause:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

print("Database operations completed successfully.")

Total Marks: 435.00
Average Marks: 87.000000
Total Students: 5
Highest Marks: 92.00
Lowest Marks: 78.00
Average Marks by Class:
Class: 10th, Average Marks: 81.750000
Class: 11th, Average Marks: 92.000000
Class: 12th, Average Marks: 89.750000
Classes with Average Marks > 80:
Class: 10th, Average Marks: 81.750000
Class: 11th, Average Marks: 92.000000
Class: 12th, Average Marks: 89.750000
Students with names starting with 'A':
(1, 'Alice', '10th', Decimal('85.50'), 15)
Distinct Classes:
10th
11th
12th
Students Ordered by Marks (Descending):
(3, 'Charlie', '11th', Decimal('92.00'), 16)
(5, 'Eva', '12th', Decimal('91.00'), 17)
(4, 'David', '12th', Decimal('88.50'), 17)
(1, 'Alice', '10th', Decimal('85.50'), 15)
(2, 'Bob', '10th', Decimal('78.00'), 16)
Students with Marks Between 80 and 90:
(1, 'Alice', '10th', Decimal('85.50'), 15)
(4, 'David', '12th', Decimal('88.50'), 17)
Students with NULL Marks:
Students with Roll Numbers IN (1, 2, 3):
(1, 'Alice', '10th', Decimal('85.50'), 15)
(2, 'Bob', '10th', Decimal('78.00'), 16)
(3, 'Charlie', '11th', Decimal('92.00'), 16)
Students with Roll Numbers NOT IN (1, 2, 3):
(4, 'David', '12th', Decimal('88.50'), 17)
(5, 'Eva', '12th', Decimal('91.00'), 17)
Database operations completed successfully.

In [27]:
import mysql.connector

# Establish a connection to the MySQL server
conn = mysql.connector.connect(
    host='localhost',        # Replace with your host
    user='root',    # Replace with your MySQL username
    password='root' # Replace with your MySQL password
)

cursor = conn.cursor()

# Create the database
cursor.execute("CREATE DATABASE IF NOT EXISTS college;")

# Use the college database
cursor.execute("USE college;")

cursor = conn.cursor()

# Create the employee table
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    Employee_id INT PRIMARY KEY,
    First_name VARCHAR(50),
    Last_name VARCHAR(50),
    Salary INT,
    Joining_date DATE,
    Departement VARCHAR(50)
);
""")

# Insert data into the employee table
cursor.execute("""
INSERT INTO employees (Employee_id, First_name, Last_name, Salary, Joining_date, Departement) VALUES
(1, 'Bob', 'Kinto', 1000000, '2019-01-20', 'Finance'),
(2, 'Jerry', 'Kansxo', 6000000, '2019-01-15', 'IT'),
(3, 'Philip', 'Jose', 8900000, '2019-02-05', 'Banking'),
(4, 'John', 'Abraham', 2000000, '2019-02-25', 'Insurance'),
(5, 'Michael', 'Mathew', 2200000, '2019-02-28', 'Finance'),
(6, 'Alex', 'chreketo', 4000000, '2019-05-10', 'IT'),
(7, 'Yohan', 'Soso', 1230000, '2019-06-20', 'Banking');
""")

# Commit the changes to the database
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

print("Table created and rows inserted successfully.")

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'employees.PRIMARY'

In [24]:
#3
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host='localhost',        # Replace with your host
    user='root',    # Replace with your MySQL username
    password='root' # Replace with your MySQL password
)

cursor = connection.cursor(dictionary=True)  # To get results as dictionaries

# Use the college database
cursor.execute("USE college;")


#Basic queries
cursor.execute("SELECT First_name, Last_name FROM employees;")
result = cursor.fetchall()
for row in result:
    print(row)

cursor.execute("SELECT COUNT(*) AS total_employees FROM employees WHERE Departement = 'IT';")
result = cursor.fetchone()
print(result)
cursor.execute("SELECT COUNT(*) AS total_employees FROM employees WHERE Departement = 'IT';")
result = cursor.fetchone()
print(result)

cursor.execute("SELECT * FROM employees WHERE Joining_date > '2019-02-01';")
result = cursor.fetchall()
for row in result:
    print(row)

#Aggregation and Grouping
cursor.execute("SELECT AVG(Salary) AS average_salary FROM employees WHERE Departement = 'Finance';")
result = cursor.fetchone()
print(result)

cursor.execute("SELECT MAX(Salary) AS max_salary FROM employees WHERE Departement = 'Banking';")
result = cursor.fetchone()
print(result)

cursor.execute("SELECT Departement, SUM(Salary) AS total_salary FROM employees GROUP BY Departement;")
result = cursor.fetchall()
for row in result:
    print(row)

#Filtering and Sorting
cursor.execute("SELECT * FROM employees WHERE Salary = (SELECT MAX(Salary) FROM employees);")
result = cursor.fetchall()
for row in result:
    print(row)

cursor.execute("SELECT * FROM employees WHERE Salary > 3000000 ORDER BY Joining_date;")
result = cursor.fetchall()
for row in result:
    print(row)

cursor.execute("SELECT * FROM employees WHERE Last_name LIKE 'K%';")
result = cursor.fetchall()
for row in result:
    print(row)

#Subqueries and Joins
cursor.execute("SELECT MAX(Salary) AS second_highest_salary FROM employees WHERE Salary < (SELECT MAX(Salary) FROM employees);")
result = cursor.fetchone()
print(result)

cursor.execute("SELECT * FROM employees WHERE Salary > (SELECT AVG(Salary) FROM employees);")
result = cursor.fetchall()
for row in result:
    print(row)

cursor.execute("UPDATE employees SET Salary = Salary * 1.10 WHERE Departement = 'Insurance';")
connection.commit()
print("Salaries updated.")

#Updating and Deleting Records

{'First_name': 'Bob', 'Last_name': 'Kinto'}
{'First_name': 'Jerry', 'Last_name': 'Kansxo'}
{'First_name': 'Philip', 'Last_name': 'Jose'}
{'First_name': 'John', 'Last_name': 'Abraham'}
{'First_name': 'Michael', 'Last_name': 'Mathew'}
{'First_name': 'Alex', 'Last_name': 'chreketo'}
{'First_name': 'Yohan', 'Last_name': 'Soso'}
{'total_employees': 2}
{'total_employees': 2}
{'Employee_id': 3, 'First_name': 'Philip', 'Last_name': 'Jose', 'Salary': 8900000, 'Joining_date': datetime.date(2019, 2, 5), 'Departement': 'Banking'}
{'Employee_id': 4, 'First_name': 'John', 'Last_name': 'Abraham', 'Salary': 2000000, 'Joining_date': datetime.date(2019, 2, 25), 'Departement': 'Insurance'}
{'Employee_id': 5, 'First_name': 'Michael', 'Last_name': 'Mathew', 'Salary': 2200000, 'Joining_date': datetime.date(2019, 2, 28), 'Departement': 'Finance'}
{'Employee_id': 6, 'First_name': 'Alex', 'Last_name': 'chreketo', 'Salary': 4000000, 'Joining_date': datetime.date(2019, 5, 10), 'Departement': 'IT'}
{'Employee_id': 7, 'First_name': 'Yohan', 'Last_name': 'Soso', 'Salary': 1230000, 'Joining_date': datetime.date(2019, 6, 20), 'Departement': 'Banking'}
{'average_salary': Decimal('1600000.0000')}
{'max_salary': 8900000}
{'Departement': 'Finance', 'total_salary': Decimal('3200000')}
{'Departement': 'IT', 'total_salary': Decimal('10000000')}
{'Departement': 'Banking', 'total_salary': Decimal('10130000')}
{'Departement': 'Insurance', 'total_salary': Decimal('2000000')}
{'Employee_id': 3, 'First_name': 'Philip', 'Last_name': 'Jose', 'Salary': 8900000, 'Joining_date': datetime.date(2019, 2, 5), 'Departement': 'Banking'}
{'Employee_id': 2, 'First_name': 'Jerry', 'Last_name': 'Kansxo', 'Salary': 6000000, 'Joining_date': datetime.date(2019, 1, 15), 'Departement': 'IT'}
{'Employee_id': 3, 'First_name': 'Philip', 'Last_name': 'Jose', 'Salary': 8900000, 'Joining_date': datetime.date(2019, 2, 5), 'Departement': 'Banking'}
{'Employee_id': 6, 'First_name': 'Alex', 'Last_name': 'chreketo', 'Salary': 4000000, 'Joining_date': datetime.date(2019, 5, 10), 'Departement': 'IT'}
{'Employee_id': 1, 'First_name': 'Bob', 'Last_name': 'Kinto', 'Salary': 1000000, 'Joining_date': datetime.date(2019, 1, 20), 'Departement': 'Finance'}
{'Employee_id': 2, 'First_name': 'Jerry', 'Last_name': 'Kansxo', 'Salary': 6000000, 'Joining_date': datetime.date(2019, 1, 15), 'Departement': 'IT'}
{'second_highest_salary': 6000000}
{'Employee_id': 2, 'First_name': 'Jerry', 'Last_name': 'Kansxo', 'Salary': 6000000, 'Joining_date': datetime.date(2019, 1, 15), 'Departement': 'IT'}
{'Employee_id': 3, 'First_name': 'Philip', 'Last_name': 'Jose', 'Salary': 8900000, 'Joining_date': datetime.date(2019, 2, 5), 'Departement': 'Banking'}
{'Employee_id': 6, 'First_name': 'Alex', 'Last_name': 'chreketo', 'Salary': 4000000, 'Joining_date': datetime.date(2019, 5, 10), 'Departement': 'IT'}
Salaries updated.

In [26]:
# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host='localhost',        # Replace with your host
    user='root',    # Replace with your MySQL username
    password='root', # Replace with your MySQL password
    database='college'  # Replace with your database name
)

cursor = conn.cursor()

# Q16: Update the salary of employees in the Insurance department by a 10% increase
cursor.execute("""
UPDATE employee
SET Salary = Salary * 1.10
WHERE Departement = 'Insurance';
""")
print("Salaries of employees in the Insurance department updated.")

# Q17: Delete records of employees who joined before 2019-02-01
cursor.execute("""
DELETE FROM employee
WHERE Joining_date < '2019-02-01';
""")
print("Records of employees who joined before 2019-02-01 deleted.")

# Commit the changes to the database
conn.commit()

# Close the cursor and connection
cursor.close()
conn.close()

print("Update and deletion operations completed successfully.")

Salaries of employees in the Insurance department updated.
Records of employees who joined before 2019-02-01 deleted.
Update and deletion operations completed successfully.